@import url("fonts.css");
.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.h0{height:731.339000px;}
.w0{width:476.220000px;}
@media print{
.h0{height:975.118667pt;}
.w0{width:634.960000pt;}
}
