<div data-width="666.789656" data-height="1024.000000" id="pfc" class="pf w0 h0" data-page-no="c"><div class="pc pcc w0 h0"><img class="bi x0 y0 w1 h1" alt="" src="bgc.jpg"/></div><div class="pi" data-data='{"ctm":[0.000000,0.000000,0.000000,0.000000,0.000000,0.000000]}'></div></div>
