@import url("fonts.css");
.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h1{height:1023.875385px;}
.h0{height:1024.000000px;}
.w0{width:666.789656px;}
.w1{width:666.936674px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h1{height:975.000000pt;}
.h0{height:975.118667pt;}
.w0{width:634.960000pt;}
.w1{width:635.100000pt;}
.x0{left:0.000000pt;}
}
