.ck-fischer .Actions .Buttons button,.ck-fischer .Actions .ClickZoomPercent,.ck-fischer .ActionsOpened .Buttons button,.ck-fischer .ActionsOpened .ClickZoomPercent,.ck-fischer .ActionsOpened .Settings,.ck-fischer .Settings{background-color:rgba(0,52,115,.7)}
.ck-fischer .Actions .Read button,.ck-fischer .Actions .Read button:hover,.ck-fischer .ActionsOpened .Read button,.ck-fischer .ActionsOpened .Read button:hover{background-color:#fc0;color:#333}
.ck-fischer .Actions .Read button span{color:#333}
.ck-fischer .MetaData .PageCountProgress>div{background-color:#fc0}
.ck-fischer .Thumbnails .Company{font-size:0;text-indent:-2000px;overflow:hidden;width:95px;height:20px;background:url(/images/ck-fischer/logo-fischer.svg) no-repeat 0 0;background-size:auto 100%}
.ck-fischer .Image:not(.active):hover a::before{border:4px solid #fc0}
.ck-fischer .Image.active.odd a::before{border-left:4px solid #fc0;border-top:4px solid #fc0;border-bottom:4px solid #fc0}
.ck-fischer .Image.active.even a::before{border-right:4px solid #fc0;border-top:4px solid #fc0;border-bottom:4px solid #fc0}
.ck-fischer .owl-item:nth-of-type(1) .Image.active.even a::before{border-left:4px solid #fc0}
.ck-fischer .owl-item:nth-last-of-type(1) .Image.active.odd a::before{border-right:4px solid #fc0}
.ck-fischer .Image.active a .ImagePage,.ck-fischer .Image:hover a .ImagePage{background-color:#fc0;color:#333}
.ck-fischer .label__sup{color:#fc0}
.ck-fischer .DisabledArea{background-color:#2c323c}
.ck-fischer .links a::after{color:#fc0}
.ck-fischer .Page a.NextPage:hover button::before,.ck-fischer .Page a.PrevPage:hover button::before{background-color:#051e3e}
.ck-fischer .loader__bg{width:1400px;height:1300px;bottom:-5%;left:calc(50% - 700px);opacity:.012}
.ck-fischer .loader__ring::after{background-color:#fc0}
.ck-fischer .loader__link{height:30px;opacity:1;transition:none}
.ck-fischer .loader__logo{top:-6px;left:-8px;width:144px;height:143px;transition:none;opacity:1}
.ck-fischer .loader__logo>svg{width:100%;height:100%}
.ck-fischer .loader__logo:hover{opacity:1;transform:none}
@media only screen and (max-width:480px),only screen and (max-height:350px){
.ck-fischer .loader__logo{top:-5px;left:-6px;width:111px;height:111px}
}