.cnc-specialy .Actions .Buttons button,.cnc-specialy .Actions .ClickZoomPercent,.cnc-specialy .ActionsOpened .Buttons button,.cnc-specialy .ActionsOpened .ClickZoomPercent,.cnc-specialy .ActionsOpened .Settings,.cnc-specialy .Settings{background-color:rgba(0,52,115,.7)}
.cnc-specialy .Actions .Read button,.cnc-specialy .Actions .Read button:hover,.cnc-specialy .ActionsOpened .Read button,.cnc-specialy .ActionsOpened .Read button:hover{background-color:#00bcf1;color:#333}
.cnc-specialy .Actions .Read button span{color:#333}
.cnc-specialy .MetaData .PageCountProgress>div{background-color:#00bcf1}
.cnc-specialy .Thumbnails .Company{font-size:0;text-indent:-2000px;overflow:hidden;width:95px;height:20px;background:url(/images/ck-fischer/logo-fischer.svg) no-repeat 0 0;background-size:auto 100%}
.cnc-specialy .Image:not(.active):hover a::before{border:4px solid #00bcf1}
.cnc-specialy .Image.active.odd a::before{border-left:4px solid #00bcf1;border-top:4px solid #00bcf1;border-bottom:4px solid #00bcf1}
.cnc-specialy .Image.active.even a::before{border-right:4px solid #00bcf1;border-top:4px solid #00bcf1;border-bottom:4px solid #00bcf1}
.cnc-specialy .owl-item:nth-of-type(1) .Image.active.even a::before{border-left:4px solid #00bcf1}
.cnc-specialy .owl-item:nth-last-of-type(1) .Image.active.odd a::before{border-right:4px solid #00bcf1}
.cnc-specialy .Image.active a .ImagePage,.cnc-specialy .Image:hover a .ImagePage{background-color:#00bcf1;color:#333}
.cnc-specialy .label__sup{color:#00bcf1}
.cnc-specialy .DisabledArea{background-color:#2c323c}
.cnc-specialy .links a::after{color:#00bcf1}
.cnc-specialy .Page a.NextPage:hover button::before,.cnc-specialy .Page a.PrevPage:hover button::before{background-color:#051e3e}
.cnc-specialy .loader__bg{width:1400px;height:1300px;bottom:-5%;left:calc(50% - 700px);opacity:.012}
.cnc-specialy .loader__ring::after{background-color:#00bcf1}
.cnc-specialy .loader__link{height:30px;opacity:1;transition:none}
.cnc-specialy .loader__logo{top:-6px;left:-8px;width:144px;height:143px;transition:none;opacity:1}
.cnc-specialy .loader__logo>svg{width:100%;height:100%}
.cnc-specialy .loader__logo:hover{opacity:1;transform:none}
@media only screen and (max-width:480px),only screen and (max-height:350px){
.cnc-specialy .loader__logo{top:-5px;left:-6px;width:111px;height:111px}
}