.crew .Loader { background: #292929 url("/images/crew/bg-loader.png") no-repeat center; }
.crew .loader__bg { display: none; }
.crew .loader__container { background-color: rgba(12, 12, 12, 0.4); }
.crew .loader__logo { top: calc(50% - 13px); left: calc(50% - 40px); width: 70px; height: 41px; opacity: 0.25; }
.crew .loader__logo:hover { transform: scale(1.1); }
.crew .loader__link { letter-spacing: 0.5rem; color: rgba(255, 255, 255, 0.25); }
.crew .loader__ring { border-radius: 0 100% 0 0; border: 1px solid rgba(255, 255, 255, 0.7); border-width: 0 2px 0 0; animation: rotate 2.25s linear infinite; }
.crew .loader__ring::after { height: 34px; width: 34px; left: calc(100% - 19px); transform: rotate(150deg); background: url("/images/crew/superhero.svg") no-repeat 0 0; background-size: cover; }



/* .crew .Blood {
    text-align: center;
    padding: 2em 2em 3em;
    position: relative;
    z-index: 1001;
}

.crew .Blood::before,
.crew .Blood::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}

.crew .Blood::before {
    background:
        linear-gradient(red 50%, transparent 60%),
        radial-gradient(#d40000 50%, transparent 70%),
        radial-gradient(red 30%, transparent 40%),
        radial-gradient(#d40000 10%, transparent 20%),
        radial-gradient(red 10%, transparent 15%);
    background-size: 100% 100%, 500px 500px, 200px 200px, 103px 273px, 77px 800px;
    background-position: 0 0, -97% -78%, 71% 0%, 7% 23%, 5% 49%;
    mix-blend-mode: multiply;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 3s linear, transform 1s 3s linear;
    height: 100%;
    top: 0;
}

.crew .Blood:hover::before {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s 0s, transform 5s 0s linear;
}

.crew .Blood::after {
    background-image:
    radial-gradient(#07050a 40%, transparent 41%),
    radial-gradient(#07050a 40%, transparent 41%);
    background-size: 104px 104px;
    background-position: 0 0, 52px 0;
    height: 104px;
    bottom: -52px;
    z-index: -1;
} */
