html{height:100%;width:100%}
body{font-family:Montserrat,sans-serif!important;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;min-height:100%;background-color:#292929!important;overflow:hidden;height:100%;width:100%}
code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}
#root{margin:0 auto}
.BounceFixed{position:fixed;height:100%;width:100%;top:0;left:0}
.BounceTrick{height:calc(100% - 1px);width:100%;z-index:1;overflow-y:hidden;-webkit-overflow-scrolling:touch}
.Info{margin:0 50px;height:100%;position:absolute;top:0;left:0;z-index:1000;width:calc(100% - 100px)}
.InfoContainer{top:12%;padding-left:115px;position:relative}
.InfoContainer.ru{padding-left:155px}
.InfoBar{width:66px;height:100%;background-color:rgba(255,255,255,.08);position:absolute;top:0;left:0}
.InfoBar.ru{width:106px}
.InfoBar span{width:100%;color:rgba(255,255,255,.8);font-size:11px;font-weight:500;text-transform:uppercase;position:absolute;bottom:17px;left:0;text-align:center}
.InfoTitle{margin:0 0 60px 0;color:#fff;font-size:70px;line-height:72px;font-weight:600;max-width:85%}
.InfoDescription{margin:0;color:rgba(255,255,255,.55);font-size:17px}
.InfoDescription br{display:none}
.InfoDescription dt{font-weight:300;margin-bottom:6px}
.InfoDescription dd{font-weight:500;margin-bottom:6px}
.InfoDescription dd:nth-last-of-type(1),.InfoDescription dt:nth-last-of-type(1){margin-bottom:0}
.Actions{margin:0 50px;position:relative;z-index:1050}
.Actions .Buttons{width:100%;position:absolute;bottom:100%}
.Actions .Buttons button,.Actions .ClickZoomPercent{display:inline-block;width:66px;height:70px;border:none;line-height:1;vertical-align:middle;background-color:rgba(0,0,0,.7);color:rgba(255,255,255,.8);font-size:22px;transition:.3s;cursor:pointer;overflow-y:hidden}
.Actions .Buttons button.ru{width:88px}
.Actions .ClickZoomPercent:hover{color:#fff}
.Actions .Buttons button:hover{color:#fff}
.ActionsOpened {margin:0 50px;position:absolute;z-index:1050;bottom:0;width:calc(100% - 100px)}
.ActionsOpened .Buttons button,.ActionsOpened .ClickZoomPercent,.ActionsOpened .Settings{background-color:rgba(0,0,0,.35)}
.Actions .Buttons button:focus{outline:0}
.Actions .Read{display:block;float:left}
.Actions .Read button,.ActionsOpened .Read button{padding-top:2px;background-color:#d50000;color:#fff;font-size:19px;overflow:hidden;position:relative}
.Actions .Read button:after{animation:shine 5s ease-in-out infinite;animation-fill-mode:forwards;content:"";position:absolute;top:-110%;left:-210%;width:200%;height:200%;opacity:.4;transform:rotate(30deg);background:rgba(255,255,255,.13);background:linear-gradient(to right,rgba(255,255,255,.13) 0,rgba(255,255,255,.13) 77%,rgba(255,255,255,.5) 92%,rgba(255,255,255,0) 100%)}
@keyframes shine{
20%{opacity:1;top:-30%;left:-30%;transition-property:left,top,opacity;transition-duration:1.5s,1.5s,.15s;transition-timing-function:ease}
100%{opacity:.4;top:-30%;left:-30%;transition-property:left,top,opacity}
}
.Actions .Read button span{padding-top:9px;font-family:Montserrat,-apple-system,BlinkMacSystemFont,sans-serif;font-weight:600;text-transform:uppercase;font-size:10px;color:#fff;text-align:center;display:block}
.Actions.ActionsOpened .Read button.icon-menu::before{content:"\e04c"}
.Actions .Read button span.BtnClosedText{display:block}
.Actions .Read button span.BtnOpenedText{display:none}
.Actions.ActionsOpened .Read button span.BtnClosedText{display:none}
.Actions.ActionsOpened .Read button span.BtnOpenedText{display:block}
.Actions .Cache{display:block;float:right}
.Actions .Cache button,.ActionsOpened .Cache button{padding-top:2px;background-color:#d50000;color:#fff;font-size:19px;overflow:hidden;position:relative;width:96px}
.Actions .Cache button span{padding-top:9px;font-family:Montserrat,-apple-system,BlinkMacSystemFont,sans-serif;font-weight:600;text-transform:uppercase;font-size:10px;color:#fff;text-align:center;display:block}
/* @media all and (display-mode:standalone){
.Actions .Cache{display:block}
}
@media all and (display-mode:fullscreen){
.Actions .Cache{display:block}
} */
.Actions .ClickZoom{display:block;float:left;position:relative}
.ClickZoom button.icon-magnifier-remove{padding-left:23px;padding-right:15px;text-align:right;width:auto}
.ClickZoom button.icon-magnifier-add{padding-left:15px;padding-right:23px;text-align:left;width:auto}
.Actions .ClickZoomProgress{width:75%;height:3px;position:absolute;bottom:0;left:0;display:block;background-color:rgba(255,255,255,.2)}
.Actions .ClickZoomPercent{padding-top:32px;width:32px;text-align:center;font-size:10px;color:rgba(255,255,255,.5);line-height:1;letter-spacing:.02rem;font-family:Montserrat,sans-serif;font-weight:600}
.Actions .Fullscreen{display:block;float:right}
.QualitySwitcher{display:block;float:right}
.Settings{position:absolute;right:0;background:rgba(0,0,0,.7);top:-140px;width:240px;height:140px;;padding:1.25rem 22px 1.25rem 22px}
.Settings.ru{width:265px}
.Settings__title{margin-bottom:1rem;padding-left:24px;font-weight:400;color:rgba(255,255,255,.5);font-size:.8125rem}
.radiocheck{padding-left:25px;position:relative}
.radiocheck__input{position:absolute;left:0;z-index:-1;width:1rem;height:1rem;opacity:0}
.radiocheck__label{margin-bottom:.5rem;position:relative;cursor:pointer;color:#fff;font-size:.875rem}
.radiocheck__label::before{position:absolute;top:4px;left:-25px;display:block;width:16px;height:12px;content:""}
.radiocheck__input:checked~.radiocheck__label::before{background:url(/images/check.svg) no-repeat 0 0}
.label__sup{padding:0 0 0 .25rem;color:#d50000;font-weight:600;font-size:.625rem;vertical-align:top;display:inline-block}
.MetaData{position:relative}
.MetaData .PageCount{margin:0 0 0 -28px;padding:7px 9px 5px;position:absolute;top:-48px;left:50%;font-size:10px;color:rgba(255,255,255,.56);line-height:1;letter-spacing:.02rem;font-family:Montserrat,sans-serif;font-weight:600;background-color:rgba(0,0,0,.35);display:inline-block;border-radius:30px}
.ActionsOpened .MetaData .PageCountProgress{display:none}
.MetaData .PageCountProgress{margin-left:-235px;width:470px;max-width:100%;height:3px;background-color:rgba(0,0,0,.35);position:absolute;bottom:100%;left:50%;display:block}
.MetaData .PageCountProgress::before{width:100%;height:100%;background-color:rgba(255,255,255,.35);position:absolute;top:0;left:0;display:block;content:""}
.MetaData .PageCountProgress>div{height:100%;background-color:#d50000;position:absolute;top:0;left:0;display:block}
.Actions:not(.ActionsOpened) .MetaData .PageCount{color:rgba(255,255,255,.8);background-color:rgba(0,0,0,.6)}
.Thumbnails{padding:0 30px;position:relative;background-color:rgba(0,0,0,.85)}
.Thumbnails .Company{color:rgba(255,255,255,.35);text-decoration:none;position:absolute;bottom:13px;right:30px;z-index:100;text-transform:uppercase;letter-spacing:.04rem;font-size:.625rem;transition:.3s;display:none}
.ActionsOpened .Thumbnails .Company{display:inline-block}
.Thumbnails .Company:hover{color:#fff}
.Thumbnails .owl-carousel{padding-top:45px;padding-bottom:45px}
.Image{margin:0 8px;position:relative}
.Image a{display:block;position:relative;background-color:rgba(255,255,255,.16)}
.Image.odd{margin-right:0}
.Image.even{margin-left:0}
.Image img{width:100%;max-height:570px;overflow:hidden}
.ImagePage{padding:5px 4px 3px;min-width:20px;position:absolute;bottom:0;right:0;background-color:rgba(42,43,42,.83);color:#fff;font-family:Montserrat,sans-serif;font-weight:600;font-size:11px;line-height:1;text-align:center;transition:.3s}
.Image:hover{cursor:pointer}
.Image.active a::before,.Image:hover a::before{width:100%;height:100%;content:"";position:absolute;top:0;left:0;z-index:10}
.Image:not(.active):hover a::before{border:4px solid #d50000}
.Image.active.odd a::before{border-left:4px solid #d50000;border-top:4px solid #d50000;border-bottom:4px solid #d50000}
.Image.active.even a::before{border-right:4px solid #d50000;border-top:4px solid #d50000;border-bottom:4px solid #d50000}
.owl-item:nth-of-type(1) .Image.active.even a::before{border-left:4px solid #d50000}
.owl-item:nth-last-of-type(1) .Image.active.odd a::before{border-right:4px solid #d50000}
.Image.active a .ImagePage,.Image:hover a .ImagePage{background-color:#d50000}
.owl-next .owl-arrow::before,.owl-prev .owl-arrow::before,.owlcarousel-next::before,.owlcarousel-prev::before{color:#fff!important;opacity:1!important;position:relative}
.Actions .owl-next .owl-arrow,.Actions .owl-prev .owl-arrow{width:125px;height:100%;bottom:0;z-index:100}
.Actions .owl-arrow::before{font-family:simple-line-icons;font-size:27px;transition:.3s}
.Actions .ltr .owl-prev .owl-arrow{left:-30px;background:-moz-linear-gradient(right,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:-webkit-linear-gradient(right,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1)}
.Actions .rtl .owl-prev .owl-arrow{transform:rotate(180deg);top:0;right:-30px;left:auto;background:-moz-linear-gradient(right,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:-webkit-linear-gradient(right,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1)}
.Actions .owl-prev .owl-arrow::before{content:"\e605";margin-right:47px}
.Actions .owl-prev .owl-arrow:hover::before{margin-right:55px}
.Actions .ltr .owl-next .owl-arrow{right:-30px;background:-moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:-webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1)}
.Actions .rtl .owl-next .owl-arrow{transform:rotate(180deg);top:0;left:-30px;right:auto;background:-moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:-webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);background:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,1) 47%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1)}
.Actions .owl-next .owl-arrow::before{content:"\e606";margin-left:47px}
.Actions .owl-next .owl-arrow:hover::before{margin-left:55px}
.disabled .owl-arrow{display:none!important}
.carouselGoTo,.carouselNewOptions{display:none}
.Page{overflow:hidden}
.Page h1{color:#fff}
.Pages{line-height:0;position:relative}
.PageItem{background-color:#fff;background-image:url("data:image/svg+xml;base  64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");-webkit-transition:left .5s;transition:left .5s;display:inline-block}
.PageResize{position:relative;box-shadow:0 20px 76px rgba(0,0,0,.69)}
.PageResizeDisabled{-webkit-filter:grayscale(100%);filter:grayscale(100%);transition:.3s}
.DisabledArea{position:absolute;height:100%;width:100%;z-index:1000;background-color:#292929;opacity:.92;transition:1s;top:0;left:0}
.Zoom{min-width:1135px;overflow:hidden;transform-origin:0 0 0;line-height:0}
.ZoomArea{box-sizing:border-box;display:inline-block;transform-origin:0 0;cursor:-moz-grab}
.PageItem .pf{box-shadow:none;margin:0 auto;user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
.PageItem .pc img.w100.h100{-webkit-user-drag:none;-ms-user-drag:none;-moz-user-drag:none;-o-user-drag:none;user-drag:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;-ms-interpolation-mode:nearest-neighbor;image-rendering:-webkit-optimize-contrast;image-rendering:-webkit-crisp-edges;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:pixelated;display:block;width:100%;height:100%}
.PageItem .pc img{-webkit-user-drag:none;-ms-user-drag:none;-moz-user-drag:none;-o-user-drag:none;user-drag:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;-ms-interpolation-mode:nearest-neighbor;image-rendering:-webkit-optimize-contrast;image-rendering:-webkit-crisp-edges;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:pixelated}
.links{padding-top:.8125rem;display:block;position:absolute;z-index:100;width:100%;}
.links .linksActualPage{margin-left:-1px;float:left;text-align:left}
.links .linksActualPage a{float:left}
.links .linksConnectedPage{margin-right:-2px;float:right;text-align:right}
.links .linksConnectedPage a{float:right}
.links a{margin-bottom:.3rem;padding:.5rem .9375rem;color:#fff;text-decoration:none;font-weight:400;line-height:1;font-size:.9375rem;display:inline-block;background-color:rgba(0,0,0,.95);clear:both}
.links a span{text-decoration:underline}
.links a{padding:.2rem .5375rem}
.links a:hover span{text-decoration:none}
.links a::after{margin:0 0 0 .5rem;font-family:simple-line-icons;content:"\e05a";font-size:.75rem;font-weight:700;color:#d81515}
@-moz-document url-prefix(){
.PageItem .pc img{pointer-events:none}
}
.skp .pc img{transform:translate(0,-6px)}
.Pages button{position:relative;z-index:1000}
.Page a#ltr.NextPage,.Page a#ltr.PrevPage,.Page a#rtl.NextPage,.Page a#rtl.PrevPage{margin-top:-35px;position:absolute;top:50%;height:70px;width:100px;display:block;z-index:1050;outline:0!important;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-next .owl-arrow,.owl-prev .owl-arrow,.owlcarousel-next,.owlcarousel-prev{position:absolute;display:block;padding:0}
.owl-next{right:-25px}
.owl-next .owl-arrow,.owl-prev .owl-arrow,.owlcarousel-next,.owlcarousel-prev{font-size:0;line-height:0;top:50%;width:20px;height:20px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}
.owlcarousel-next,.owlcarousel-prev{outline:0!important;-webkit-touch-callout:none!important;-webkit-user-select:none!important;-khtml-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}
.Page a#rtl.NextPage,.Page a#rtl.PrevPage{transform:rotate(180deg)}
.Page a.NextPage button,.Page a.PrevPage button{transition:.3s;width:44px;height:44px}
.Page a.NextPage button::before{text-indent:3px}
.Page a.PrevPage button::before{text-indent:-3px}
.Page a.NextPage button::before,.Page a.PrevPage button::before{font-family:simple-line-icons;font-weight:bolder;font-size:1.125rem;width:44px;height:44px;vertical-align:bottom;border-radius:50%;background-color:rgba(0,0,0,.65);display:inline-block;line-height:44px}
.Page a.NextPage:hover button::before,.Page a.PrevPage:hover button::before{background-color:#d50000}
.Page a#ltr.PrevPage{left:0}
.Page a#rtl.PrevPage{right:0}
.Page a.PrevPage button{margin-left:50px}
.Page a.PrevPage button::before{content:"\e605"}
.Page a.PrevPage:hover button{margin-left:40px}
.Page a#ltr.NextPage{right:0}
.Page a#rtl.NextPage{left:0}
.Page a.NextPage button{margin-right:50px}
.Page a.NextPage button::before{content:"\e606"}
.Page a.NextPage:hover button{margin-right:40px}
.Page button.owlcarousel-prev{left:10px}
.Page button.owlcarousel-next{right:10px}
a.link{color:red;-webkit-animation:pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;opacity:.2}
@-webkit-keyframes pulsate{
0%{opacity:.2}
50%{opacity:1}
100%{opacity:.2}
}
@keyframes fadeInOpacity{
0%{opacity:.5}
100%{opacity:1}
}
.error404{background-color:#292929;width:100%;height:100%}
.err__bg{width:500px;height:583px;position:absolute;bottom:calc(50%);left:calc(50% - 220px);opacity:.02;z-index:0}
.err__link{margin:0 auto;text-decoration:none;color:rgba(255,255,255,.15);font-size:.6125rem;text-transform:uppercase;letter-spacing:.75rem;text-align:center;display:block;transition:.5s}
.err__link:focus,.err__link:hover{color:rgba(255,255,255,.875);text-decoration:none}
.err__icon{margin:35vh auto 0 auto;width:100px;height:100px;line-height:92px;border:5px solid #d50000;border-radius:50%;color:#d50000;font-size:2.75rem;display:block;font-family:simple-line-icons;font-style:normal;text-align:center;position:relative;box-shadow:0 20px 40px rgba(0,0,0,.4)}
.err__icon::before{margin:23px 0;display:block}
.err__icon::after{content:"";width:1px;height:97px;border-right:5px solid #d50000;position:absolute;top:0;left:44px;transform:rotate(45deg);display:block}
.err__title{margin:6rem 0 2rem 0;text-align:center;color:#fff;font-size:2.75rem}
.Loader{position:absolute;background-color:#292929;width:100%;height:100%;top:0;left:0}
.loader__bg{width:500px;height:583px;position:absolute;bottom:calc(50%);left:calc(50% - 220px);opacity:.015;z-index:0}
.loader__container{width:128px;height:128px;top:calc(50% - 113px);left:calc(50% - 64px);background-color:rgba(12,12,12,.2);border:2px solid rgba(255,255,255,.1);position:absolute;border-radius:50%;z-index:1}
.loader__logo{position:absolute;top:calc(50% - 20px);left:calc(50% - 15px);width:35px;height:41px;opacity:.35;display:block;transition:1.1s}
.loader__logo:hover{opacity:.7;transform:scale(1.3)}
.loader__ring{position:absolute;left:62px;top:-2px;height:63px;width:63px;border-radius:0 100% 0 0;border:1px solid rgba(255,255,255,.7);border-width:0 2px 0 0;transform-origin:0 100%;animation:rotate 1.1s ease-in-out infinite;pointer-events:none}
.loader__ring::after{position:absolute;height:7px;width:7px;top:100%;left:calc(100% - 3px);border-radius:100%;border-width:0;background:#fff;box-shadow:none;background-color:#da2121;content:''}
.loader__link{width:200px;text-decoration:none;color:rgba(255,255,255,.15);font-size:.6125rem;text-transform:uppercase;letter-spacing:.75rem;text-align:center;position:absolute;top:140%;left:calc(50% - 100px);transition:.5s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.loader__link:focus,.loader__link:hover{color:rgba(255,255,255,.875);text-decoration:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
@keyframes rotate{
0%{transform:rotate(-100deg)}
100%{transform:rotate(260deg)}
}
.Loader.Higher{z-index:1234}
.Loader.Lower{z-index:1025}
.Loader .lds-ring{display:inline-block;position:relative;width:140px;height:140px;top:50%;left:50%;margin-left:-70px;margin-top:-70px}
.Loader .lds-ring div{box-sizing:border-box;display:block;position:absolute;width:134px;height:134px;border:6px solid #fff;border-radius:50%;animation:lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;border-color:#fff transparent transparent transparent}
.Loader .lds-ring div.LoaderBg{border:6px solid rgba(255,255,255,.125);animation:none}
.Loader .lds-ring div:nth-child(1){animation-delay:-.45s}
.Loader .lds-ring div:nth-child(2){animation-delay:-.3s}
.Loader .lds-ring div:nth-child(3){animation-delay:-.15s}
@keyframes lds-ring{
0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}
.ProgressBar{height:5px;width:100%;position:absolute;top:0;z-index:1010}
a.link{color:red;-webkit-animation:pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;opacity:.2}
@-webkit-keyframes pulsate{
0%{opacity:.2}
50%{opacity:1}
100%{opacity:.2}
}
ul.selector{padding:10px 0 0 0}
ul.selector li{display:inline-block;list-style-type:none}
ul.selector li button{border:1px solid #fff;border-radius:5px;background-color:red;margin-right:10px;padding:5px 12px;color:#fff}
.sessionOut{color:#fff;font-size:1rem;text-align:center;margin-bottom:2rem}
.sessionOut a{color:#d50000}
.sessionOut a:hover{color:#d50000;text-decoration:underline}
.add-button {position: absolute;top: 1px;left: 1px}
.Disclamer {position: absolute;width: 100%;top: 0;left: 0;background-color: #d50000;color: #fff;height:3rem;line-height:3rem;padding-left:1.5rem;font-weight: bold;z-index: 1001}