@font-face{font-family:simple-line-icons;src:url(/fonts/Simple-Line-Icons.eot?v=2.4.0);src:url(/fonts/Simple-Line-Icons.eot?v=2.4.0#iefix) format('embedded-opentype'),url(/fonts/Simple-Line-Icons.woff2?v=2.4.0) format('woff2'),url(/fonts/Simple-Line-Icons.ttf?v=2.4.0) format('truetype'),url(/fonts/Simple-Line-Icons.woff?v=2.4.0) format('woff'),url(/fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons) format('svg');font-weight:400;font-style:normal}
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
main{display:block}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}
*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left}
button{border-radius:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}
.h1,h1{font-size:2.5rem}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-weight:500;line-height:1.2}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}
a{color:#007bff;text-decoration:none;background-color:transparent}
dl,ol,ul{margin-top:0;margin-bottom:1rem}
dt{font-weight:700}
dd{margin-bottom:.5rem;margin-left:0}
.col-sm-3,.col-sm-9{position:relative;width:100%;padding-right:15px;padding-left:15px}
.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.icon-magnifier-add,.icon-magnifier-remove,.icon-menu,.icon-settings,.icon-size-fullscreen,.icon-cloud-download{font-family:simple-line-icons;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-magnifier-remove::before{content:"\e092"}
.icon-magnifier-add::before{content:"\e091"}
.icon-settings::before{content:"\e09a"}
.icon-menu::before{content:"\e601"}
.icon-cloud-download:before{content: "\e083"}
.icon-size-fullscreen::before{content:"\e057"}
.icon-size-actual::before{content:"\e058"}
.Actions.ActionsOpened .Read button.icon-menu::before{content:"\e04c"}