@media only screen and (min-height:769px){
.InfoContainer{top:15%;padding-top:0}
.InfoTitle{font-size:65px;line-height:70px;margin-bottom:50px}
.InfoDescription{font-size:15px}
.InfoDescription dd,.InfoDescription dt{margin-bottom:4px}
}
@media only screen and (max-width:1199px){
.Actions .Buttons button{height:60px;font-size:18px}
.Actions .ClickZoomPercent{height:60px;padding-top:27px}
.Actions .ClickZoom{float:right}
.Actions .ClickZoomProgress{background-color:rgba(255,255,255,.35)}
.Actions.ActionsOpened .ClickZoomProgress{background-color:rgba(255,255,255,.2)}
.ActionsOpened .Read button{padding:0 27px;width:auto}
.Actions.ActionsOpened .Read button span.BtnOpenedText{margin-left:11px;margin-top:-7px;font-size:15px;vertical-align:top;display:inline-block}
.Actions .owl-next .owl-arrow,.Actions .owl-prev .owl-arrow{width:90px}
.Actions .owl-next .owl-arrow::before{margin-left:30px}
.Actions .owl-pref .owl-arrow::before{margin-right:30px}
.MetaData .PageCount{top:-42px}
.MetaData .PageCountProgress{margin-left:-210px;width:380px}
.MetaData .PageCountProgress::before{background-color:rgba(255,255,255,.45)}
.Thumbnails .owl-carousel{padding-top:35px;padding-bottom:35px}
.Thumbnails .Company{font-size:.5625rem;bottom:10px}
}
@media only screen and (max-width:1199px),only screen and (max-height:700px){
.Info{margin:0;padding:0 50px;width:100%}
.InfoContainer{top:0;padding-top:9%;padding-left:0;padding-right:104px;float:left;width:100%;clear:both}
.InfoContainerInner{padding-left:0;position:static}
.InfoTitle{margin:-8px 25px 12px 0;max-width:75%;font-size:38px;line-height:44px;float:left}
.InfoDescription{margin:0!important;text-align:right;font-size:12px;float:right;display:block!important;padding-bottom:12px}
.InfoDescription dd,.InfoDescription dt{text-align:right;margin-bottom:4px;font-weight:400;display:inline-block;max-width:100%;width:auto;flex:none;padding:0}
.InfoDescription br{display:block}
.InfoDescription dt{padding-right:5px}
.InfoBar{left:auto;right:0}
}
@media only screen and (max-width:991px),only screen and (max-height:600px){
.InfoContainer{padding-top:11%}
}
@media only screen and (max-width:991px){
.ActionsOpened .MetaData .PageCount{display:none}
.Actions .owl-arrow .owl-arrow::before{font-size:22px}
.Actions .owl-next .owl-arrow::before{margin-left:30px}
.Actions .owl-next .owl-arrow:hover::before{margin-left:35px}
.Actions .owl-prev .owl-arrow::before{margin-right:30px}
.Actions .owl-prev .owl-arrow:hover::before{margin-right:35px}
.Page a.NextPage button{margin-right:30px}
.Page a.NextPage:hover button{margin-right:35px}
.Page a.PrevPage button{margin-left:30px}
.Page a.PrevPage:hover button{margin-left:35px}
.Page a#ltr.NextPage,.Page a#ltr.PrevPage,.Page a#rtl.NextPage,.Page a#rtl.PrevPage{margin-top:-25px;height:50px;width:80px}
}
@media only screen and (max-width:920px){
.InfoBar{width:56px;background-color:rgba(255,255,255,.12)}
.Actions .Buttons button,.ClickZoom button.icon-magnifier-add,.ClickZoom button.icon-magnifier-remove{width:56px}
.ActionsOpened .Read button{padding:0 20px;width:auto}
.ClickZoom button.icon-magnifier-add,.ClickZoom button.icon-magnifier-remove{text-align:center;padding-left:5px;padding-right:5px}
.Actions .ClickZoomPercent{display:none}
.MetaData .PageCountProgress{margin-left:-130px;width:260px}
}
@media only screen and (max-width:800px){
.InfoContainer{padding-top:8%}
}
@media only screen and (max-width:767px),only screen and (max-height:550px){
.Info{padding:0 25px}
.InfoContainer{padding-top:5.5%;padding-right:79px}
.InfoTitle{margin:-6px 10px 10px 0;max-width:68%;font-size:30px;line-height:35px}
.Actions{margin:0 25px}
.ActionsOpened {width:calc(100% - 50px)}
}
@media only screen and (max-width:767px){
.Actions{margin:0 24px}
.ActionsOpened {width:calc(100% - 48px)}
.Actions .Buttons button{height:55px;font-size:17px}
.Actions .Read button::after{top:-190%}
.Actions .owl-prev .owl-arrow{left:-22px;width:80px}
.Actions .owl-next .owl-arrow{right:-22px;width:80px}
.Thumbnails .Company{right:30px}
.Thumbnails .owl-carousel{padding-top:26px;padding-bottom:34px}
.Page a.NextPage,.Page a.PrevPage{width:100px}
.Page a.NextPage button,.Page a.NextPage:hover button{margin-right:10px}
.Page a.PrevPage button,.Page a.PrevPage:hover button{margin-left:10px}
.Page a#ltr.NextPage,.Page a#ltr.PrevPage,.Page a#rtl.NextPage,.Page a#rtl.PrevPage{width:60px}
.err__bg{width:350px;height:433px;left:calc(50% - 165px);bottom:calc(65%)}
.err__icon{margin:25vh auto 0 auto;width:80px;height:80px;line-height:74px;border:3px solid #d50000;font-size:2rem}
.err__icon::before{margin:21px 0;display:block}
.err__icon::after{height:77px;border-right:3px solid #d50000;left:37px}
.err__title{margin:4rem 2rem 2rem;font-size:2rem}
.err__link{letter-spacing:.6rem}
}
@media only screen and (max-width:740px),only screen and (max-height:350px){
.ActionsOpened .MetaData{top:-50px}
.ActionsOpened .MetaData .PageCount{display:block}
.ActionsOpened .MetaData .PageCountProgress{display:block}
.MetaData{position:fixed;top:0;left:0;width:100%;transition:.3s}
.MetaData .PageCountProgress{top:11px}
.MetaData .PageCount{margin:0 0 0 -20px;padding:4px 7px 4px;top:24px;font-size:9px}
}
@media only screen and (max-width:575px){
/* .owl-nav{display:none!important} */
.Thumbnails{padding:0 16px}
.Image{margin:0 6px}
.Actions .ltr .owl-prev .owl-arrow{left:0}
.Actions .ltr .owl-next .owl-arrow{right:0}
}
@media only screen and (max-width:480px),only screen and (max-height:350px){
.Info{padding:0 20px}
.InfoContainer{padding-top:16vh;padding-right:0}
.InfoTitle{margin:0 0 10px 0;max-width:100%;font-size:27px;line-height:33px;float:none}
.InfoDescription{float:none;text-align:left}
.InfoDescription dd,.InfoDescription dt{text-align:left;margin-bottom:0}
.InfoDescription dd{font-weight:600}
.InfoBar{width:50px;height:13vh;left:0;right:auto}
.InfoBar span{bottom:9px}
.Actions{margin:0 20px}
.ActionsOpened {width:calc(100% - 40px)}
.Actions .Buttons button,.ClickZoom button.icon-magnifier-add,.ClickZoom button.icon-magnifier-remove{width:50px;height:50px;font-size:16px}
.ActionsOpened .Read button{padding:0 5px}
.Actions.ActionsOpened .Read button span.BtnOpenedText{margin-left:0;margin-top:0;padding-top:4px;font-size:9px;vertical-align:middle;display:block}
.Actions .Read button span{padding-top:5px}
.Actions .owl-next .owl-arrow{right:-12px !important;width:40px}
.Actions .owl-prev .owl-arrow{left:-12px !important;width:40px}
.Actions .owl-arrow::before{font-size:18px}
.Actions .owl-next .owl-arrow::before,.Actions .owl-next .owl-arrow:hover::before{margin-left:-5px}
.Actions .owl-prev .owl-arrow::before,.Actions .owl-prev .owl-arrow:hover::before{margin-right:-5px}
.MetaData{width:100%}
.MetaData .PageCountProgress{margin-left:0;left:20px;right:20px;width:auto}
.Thumbnails{padding:0 12px}
.Thumbnails .Company{right:14px;bottom:7px}
.Thumbnails .owl-carousel{padding-top:18px;padding-bottom:28px}
.Page a.NextPage,.Page a.PrevPage{width:50px}
.Page a.NextPage button,.Page a.NextPage:hover button{margin-right:0}
.Page a.PrevPage button,.Page a.PrevPage:hover button{margin-left:0}
.Page a.NextPage button::before,.Page a.PrevPage button::before{font-size:1rem}
.Page a#ltr.NextPage,.Page a#ltr.PrevPage,.Page a#rtl.NextPage,.Page a#rtl.PrevPage{width:45px}
.err__icon{margin:18vh auto 0 auto}
.err__title{margin:3rem 1.5rem 1.5rem}
.loader__bg{width:300px;height:383px;left:calc(50% - 150px)}
.loader__container{width:100px;height:100px;top:calc(50% - 70px);left:calc(50% - 50px)}
.loader__logo{top:calc(50% - 13px);left:calc(50% - 11px);width:25px;height:31px}
.loader__logo>svg{width:100%;height:auto}
.loader__ring{left:48px;top:-1px;height:49px;width:49px}
.loader__ring::after{height:7px;width:7px;left:calc(100% - 3px)}
.loader__link{top:122%;font-size:.6rem}
}
@media only screen and (max-width:330px){
.InfoContainer{padding-top:14vh;padding-right:0}
.InfoTitle{margin:0 0 8px 0;font-size:25px;line-height:31px}
.InfoBar{height:11vh}
}
@media only screen and (max-height:425px){
.InfoTitle{margin-bottom:0}
}
@media only screen and (max-height:350px){
.Thumbnails{padding:0 16px}
.Thumbnails .slick-slider .slick-list{padding-top:20px;padding-bottom:38px}
.Actions .slick-arrow.slick-next{right:-16px;width:70px}
.Actions .slick-arrow.slick-prev{left:-16px;width:70px}
}
@media only screen and (orientation:landscape) and (max-height:350px){
.Thumbnails{padding:0 10px}
.Thumbnails .owl-carousel{padding-top:14px;padding-bottom:20px}
.Thumbnails .owl-nav{display:none}
.Thumbnails .Company{bottom:5px;right:10px}
.Image{margin:0 5px}
.Image:not(.active):hover a::before{border:3px solid #d50000}
.Image.active.odd a::before{border-left:3px solid #d50000;border-top:3px solid #d50000;border-bottom:3px solid #d50000}
.Image.active.even a::before{border-right:3px solid #d50000;border-top:3px solid #d50000;border-bottom:3px solid #d50000}
.owl-item:nth-of-type(1) .Image.active.even a::before{border-left:3px solid #d50000}
.owl-item:nth-last-of-type(1) .Image.active.odd a::before{border-right:3px solid #d50000}
}
@media only screen and (orientation:landscape) and (max-height:300px){
.InfoContainer{padding-top:29vh;width:45%;padding-right:0}
.InfoTitle{margin:0 0 .75rem 0;max-width:100%;font-size:22px;line-height:26px;float:none}
.InfoBar{height:20vh;right:auto;left:0}
.InfoBar span{bottom:11px}
.InfoDescription{text-align:left;float:none;padding:0}
.Actions{margin:0 20px 0 auto;width:47%}
.Actions .Buttons{text-align:right}
.Actions .Read{display:inline-block;float:none}
.ActionsOpened {width:calc(100% - 40px)}
}